<div class="superBase" layout="row" layout-align="start stretch" style="font-weight: bold;height:100%">
    <div layout="row" layout-align="left center">
        <div class="superBaseMainButton" ng-click="click('toggle')" id="iconOnOff"></div>

       
    </div>
    <div layout="column" layout-align="center start">
        <p style="width:100%">
            &nbsp;&nbsp;&nbsp;{{data.config.name}}
        </p>
        <span style="width:100%">
            &nbsp;&nbsp;&nbsp;<font color=darkorange>_____</font>_____
        </span>
    </div>
   
</div>