<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
</head>

<div ng-click="click('navigate')" class="superBase superBaseRoomStatus superBaseMainButton"
    style="height:100%;width: 100%;" layout="row" layout-align="start stretch" id="divPrincipale{{uniqueID}}">

    <!-- <div flex="10" > -->
    <div flex="" style="max-height:44px;max-width: 44px;">
        <div id="iconRoom{{uniqueID}}"></div>
    </div>

    <div flex="" style="margin-top: 5px;">
        &nbsp;&nbsp;&nbsp;{{data.config.name}}
    </div>

    
    <div layout="column" layout-align="space-around end">
        <div layout="row" layout-align="center center" style="font-size:11px;margin-top: 3px;margin-right: 5px;">
            ##containerUpperRow##
        </div>
    
        <div layout="row" layout-align="center center" style="font-size:11px;margin-bottom: 3px;margin-right: 5px;">
            ##containerLowerRow##
        </div>
    
    
   
</div>

</div>

</html>