<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
</head>

<div ng-click="click('navigate')" class="superBase superBaseRoomStatus" layout="row"
    layout-align="space-between stretch" style="height:100%;">
    <div layout="row" layout-align="start stretch">
        <div  class="superBaseMainButton" >
            <div id="iconRoom{{uniqueID}}"></div>
        </div>
        <div layout="row" layout-align="start center" style="width:100px;margin-bottom:20px;">
            &nbsp;&nbsp;&nbsp;{{data.config.name}}
        </div>
       
    </div>



    <div layout="column" layout-align="space-around end">
        <div layout="row" layout-align="center center"
            style="font-size:11px;margin-top: 3px;margin-right: 5px;">
            ##containerUpperRow##
        </div>

        <div layout="row" layout-align="center center"
            style="font-size:11px;margin-bottom: 3px;margin-right: 5px;">
            ##containerLowerRow##
        </div>


    </div>
</div>

</html>